back/node_modules/data-sourcer/node_modules/puppeteer/.local-chromium/mac-901912/chrome-mac/Chromium.app/Contents/Frameworks/Chromium Framework.framework/Versions/93.0.4577.0/Chromium Framework
back/node_modules/

front/node_modules/


front/.env*
back/.env*

